.App {
  text-align: center;
}

.all-cost-items-box, .cost-items-box, .cost-items-box-date{
  border: 1px solid black;
}

.all-cost-items-box {
  background-color: bisque;
}

.cost-items-box {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cost-items-box-date {
  background-color: blueviolet;
}